GLOBAL_JOB_EXECUTION_ENVIRONMENTS = [
    {'name': 'EE Minimal' , 'image': '{{ lookup("env", "EE_MINIMAL_CONTAINER_IMAGE") }}'},
    {'name': 'EE 2.9' , 'image': '{{ lookup("env", "EE_29_CONTAINER_IMAGE") }}'},
    {'name': 'EE supported' , 'image': '{{ lookup("env", "EE_SUPPORTED_CONTAINER_IMAGE") }}'},
{% for item in ee_images | default([]) %}
    {'name': '{{ item.name }}' , 'image': '{{ item.image }}'},
{% endfor %}
]
CONTROL_PLANE_EXECUTION_ENVIRONMENT = '{{ control_plane_ee_image }}'
